.active {
	/* background-color: #38ac51; */
	padding: 5px 10px;
	color: rgb(0, 0, 0);
	border-radius: 5px;
	margin-left: 5px;
	margin-bottom: 1rem;

	transition: all 0.3s ease-out;
}

.btn-bg {
	background-color: #5d5bcc;
}

.btn-delete {
	background-color: red;
	color: white;
}
.hero_img {
	background-image: url('../public/hero.webp');
	background-size: contain;
	background-repeat: no-repeat;
}
